.app{
    background-color: antiquewhite;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    height: 100vh;
    width:100%;
}
.top{
    display: flex;
    justify-content:space-between;
    padding: 20px;
}

.top img{
    width: 50px;
    height: 50px;
}

.middle{
    display: flex;
}

.middle p{
    padding: 20px;
}
.bottom{
    padding: 20px;  
}

.bottom input{
    display: block;
    width: 100%;
    background-color: #eff2f5;
    border: none;
    margin: 10px;
    padding:10px;
    outline: none;
}

.buttons{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 10px;
}

.buttons button{
    border: none;
    padding: 5px 30px 5px 30px;
    border-radius: 10%;
}

.button-exit{
    background-color: peachpuff;
    margin: 10px;
}

.button-save{
    background-color: #DEFDE0;
    margin: 10px;
}
/* Dark Mode */
.app-dark{
    background-color: #222222;
    color: white;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    height:100%;
    width:100%;
}

.bottom-dark{
    padding: 20px;
}

.bottom-dark input{
    display: block;
    width: 100%;
    background-color: darkgrey;
    border: none;
    margin: 10px;
    padding:10px;
    outline: none;
}

@media screen and (max-width: 700px){
    .middle{
        display: block;
        font-size: 12px;
    }

    .app{
        background-color: antiquewhite;
        position:absolute;
        top:0;
        left:0;
        bottom:0;
        right:0;
        height:100%;
        width:100%;
    }
}